*{margin:0;
padding:0
}
.mainarea{
width:1060px;height:600px;background:#fff;
}

.top5list{
list-style:none;
display:block;
width:1060px;
height:120px;
}
.top5list li{
    float:left;
    display:block;
    height:120px;
    width:212px;
    position: relative;
}


.top5list li  img{
    display: block;
    max-height:120px;
    width:80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}