<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iresearch.svc.mapper.svc.IndexMapper">

    <select id="getNews"  resultType="com.iresearch.svc.bean.News">
    select top 10 * from svc_index_context order by id desc
    </select>
    <select id="getCustomshow" resultType="com.iresearch.svc.bean.Showname">
    select distinct show from svc_coustom
    </select>

    <select id="getCustombrand" resultType="com.iresearch.svc.bean.Brandname">
    select distinct brand from svc_coustom
    </select>

    <select id="getLibshowname"  resultType="com.iresearch.svc.bean.Showname">
      select distinct  showname show from svc_compute.dbo.SVC_Filter_Result
    </select>



</mapper>
