<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iresearch.svc.mapper.svc.UserMapper">

    <resultMap id="userMap" type="com.iresearch.svc.bean.SysUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.iresearch.svc.bean.SysRole">
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <select id="findByUserName"  resultMap="userMap">
        select u.*
        ,r.name
        from svc_auth_user u
        LEFT JOIN svc_auth_user_role sru on u.username= sru.username
        LEFT JOIN svc_auth_role r on sru.roleid=r.roleid
        where u.username= #{username}
    </select>


</mapper>
