<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SVC系统-登录</title>


	<link rel="stylesheet" href="http://svc.iresearch.cn/imp/css/normalize.css">
	<link rel="stylesheet" href="http://svc.iresearch.cn/imp/css/login.css">
	<!--<link href="https://cdn.bootcss.com/layer/2.3/skin/layer.css" rel="stylesheet">-->
	<script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
	<script type="text/javascript" src="http://svc.iresearch.cn/imp/js/logincheck.js"></script>
	<script type="text/javascript" src="http://svc.iresearch.cn/imp/js/browser_check.js"></script>

</head>

<body>



<div class="login">
	<h1>Login</h1>

		<input type="text" name="name" placeholder="用户名" id="loginUser" required="required" />
		<input type="password" name="passwd" id='loginPwd' placeholder="密码" required="required" />
		<button  onclick="loginCheck();" class="btn btn-primary btn-block btn-large">登录</button>

</div>



</body>
</html>
